<div class="p-2">
  <span class="p-1 space-x-4">
    <button class="bg-grey-100 border-t-4 border-b-gray-700 rounded-b text-grey-900 px-4 py-3 shadow-md" (click)="addAlert('succes')">Show a success alert!</button>
    <button class="bg-grey-100 border-t-4 border-b-gray-700 rounded-b text-grey-900 px-4 py-3 shadow-md" (click)="addAlert('error')">Show an error alert!</button>
    <button class="bg-grey-100 border-t-4 border-b-gray-700 rounded-b text-grey-900 px-4 py-3 shadow-md" (click)="addAlert('warning')">Show a warning alert!</button>
    <button class="bg-grey-100 border-t-4 border-b-gray-700 rounded-b text-grey-900 px-4 py-3 shadow-md" (click)="addAlert('info')">Show an info alert!</button>
  </span>
</div>

<div class="py-1"></div>


<!--bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert"-->


